section{
	padding-top: 50px;
}
.carousel{
	height: 500px !important;
}
.carousel img{
	width: 300px;
	height: 300px;
}
.indicator-item{
	background: gray !important;
}
.indicators .active{
	background: red !important;
}
button{
	background-color: #fbd43b;
	color: #fff;
	font-size: 3vh;
	padding: 3%;
}
.boton-inicio{
	width: 100%;	
}
#imagen-registro{
	height: 150px;
}
#cel{
	display: inline-block !important;
}

@media(min-width: 600px){
	.carousel{
	height: 800px !important;
	}
	.carousel img{
		width: 300px;
		height: 600px;
	}
	.boton-inicio{
	width: 30%;	
	height: 30%;
}
}